<li class='clearfix record <%= cycle("on", "on-hover") %>' id="<%= dom_id(retailer) -%>">
  <span class='title'>
    <%= retailer.title %>

  </span>
  <span class='actions'>

    <%= link_to refinery_icon_tag("application_edit.png"), refinery.edit_retailers_admin_retailer_path(retailer),
         :title => t('.edit') %>
    <%= link_to refinery_icon_tag("delete.png"), refinery.retailers_admin_retailer_path(retailer),
        :class => "cancel confirm-delete",
        :title => t('.delete'),
        :data => {:confirm => t('message', :scope => 'refinery.admin.delete', :title => retailer.title)},
        :method => :delete %>
  </span>
</li>
