<% content_for :body do %>
  <ul id="retailers">
    <% @retailers.each do |retailer| %>
      <li>
        <%= retailer.title %><br />
        <%= retailer.contact %><br />
        <%= retailer.address %><br />
        <%= retailer.city %><br />
        <%= subregion_name(retailer.country_code, retailer.state_code) %><br />
        <%= retailer.zipcode %><br />
        <%= country_name(retailer.country_code) %><br />
        <%= retailer.phone %><br />
        <%= retailer.fax %><br />
        <%= link_to retailer.email, "mailto:#{retailer.email}" %><br />
        <%= link_to retailer.website, retailer.website, target: "_blank" %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= render '/refinery/content_page' %>
