<% content_for :body do %>
  <% @retailer_countries.sort.each do |country, retailers| %>
    <h2><%= country_name(country) %></h2>
    <ul id="retailers">
      <% for retailer in retailers %>
        <li>
          <%= retailer.title %><br />
          <%= retailer.contact %><br />
          <%= retailer.address %><br />
          <%= retailer.city %><br />
          <%= subregion_name(retailer.country_code, retailer.state_code) %><br />
          <%= retailer.zipcode %><br />
          <%= retailer.phone %><br />
          <%= retailer.fax %><br />
          <%= link_to retailer.email, "mailto:#{retailer.email}" %><br />
          <%= link_to retailer.website, retailer.website, target: "_blank" %>
        </li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<%= render '/refinery/content_page' %>
