<% content_for :body_content_title do %>
  <%= @retailer.title %>
<% end %>

<% content_for :body do %>
  <section>
    <h1>Title</h1>
    <p>
      <%=raw @retailer.title %>
    </p>
  </section>
  <section>
    <h1>Contact</h1>
    <p>
      <%=raw @retailer.contact %>
    </p>
  </section>
  <section>
    <h1>Address</h1>
    <p>
      <%=raw @retailer.address %>
    </p>
  </section>
  <section>
    <h1>Zipcode</h1>
    <p>
      <%=raw @retailer.zipcode %>
    </p>
  </section>
  <section>
    <h1>Phone</h1>
    <p>
      <%=raw @retailer.phone %>
    </p>
  </section>
  <section>
    <h1>Fax</h1>
    <p>
      <%=raw @retailer.fax %>
    </p>
  </section>
  <section>
    <h1>Email</h1>
    <p>
      <%=raw @retailer.email %>
    </p>
  </section>
  <section>
    <h1>Website</h1>
    <p>
      <%=raw @retailer.website %>
    </p>
  </section>
  <section>
    <h1>Draft</h1>
    <p>
      <%=raw @retailer.draft %>
    </p>
  </section>
<% end %>

<% content_for :side_body do %>
  <aside>
    <h2><%= t('.other') %></h2>
    <ul id="retailers">
      <% @retailers.each do |retailer| %>
        <li>
          <%= link_to retailer.title, refinery.retailers_retailer_path(retailer) %>
        </li>
      <% end %>
    </ul>
  </aside>
<% end %>

<%= render '/refinery/content_page' %>
